// Place all the styles related to the comics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mainColor: #fe0000;
$secondaryColor: #171718;
$shadow: #555555;
$lightText: #FFF;
$darkText: #000;

body {
  padding-top: 90px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

input.loading {
  background: #FFF asset_url('loading.gif') no-repeat right center;
}

/* header */

#logo {

  padding-bottom: 18px;
  padding-top: 15px;
}

#custom-nav {
  background-color: $mainColor;
  border: 0;
  box-shadow: none;
  z-index: 999;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: background .5s ease-in-out, opacity .5s ease;
  -moz-transition: background .5s ease-in-out, opacity .5s ease;
  transition: background .5s ease-in-out, opacity .5s ease;
}

#custom-nav .container {
  -webkit-transition: padding-top .5s ease, padding-bottom .5s ease;
  -moz-transition: padding-top .5s ease, padding-bottom .5s ease;
  transition: padding-top .5s ease, padding-top .5s ease, padding-bottom .5s ease;
}

#custom-nav.affix {
  top: 0;
  min-width: 100%;
  background-color: rgba(254, 0, 0, 0.9);

  transition: background .5s ease-in-out, opacity .5s ease;
}

//Comics

.comics {
  width: 100%;
  background-color: $secondaryColor;

  .comic-item {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .layer {
    background-color: rgba(23, 23, 24, 0.7);
  }

  @media (max-width: 768px) {
    .mosaic {
      width: 365px;
      height: 524px;
    }
    #character-name {
      max-width: 400px;
    }
  }

  @media (min-width: 768px) {
    .mosaic {
      width: 350px;
      height: 503px;
    }
    #character-name {
      max-width: 400px;
    }
  }

  @media (min-width: 992px) {
    .mosaic {
      width: 220px;
      height: 321px;
    }
    #character-name {
      max-width: 400px;
    }
  }

  @media (min-width: 1200px) {
    .mosaic {
      width: 220px;
      height: 321px;
    }
    #character-name {
      max-width: 400px;
    }
  }

  .mosaic {
    margin: 6px;
    padding: 0px;
    //width: 220px;
    //height: 321px;

    box-shadow: 0px 3px 40px -2px $shadow;
    background-size: 100%;

    .comic-release-container {

      position: absolute;
      bottom: 16px;
      left: 25px;

      .comic-number {
        color: $lightText;
        font-size: 20px;
        text-align: center;
        background-color: $mainColor;
        min-height: 28px;
        min-width: 45px;
      }

      .comic-year {
        color: $lightText;
        font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
        font-size: 15px;
        font-style: italic;
        text-align: center;
        background-color: #2E2F30;
        min-height: 28px;
        min-width: 45px;
        padding: 3px;
      }

    }

    .comic-info-container {
      font-family: Arial;

      position: absolute;
      bottom: 50px;
      left: 30px;
      right: 29px;
      text-shadow: 2px 2px 2px $darkText;

      color: $lightText;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;

    }
  }

  .missing-comics-container{
    color: #eee;
    font-size: 28px;
    align-items: center;
    width: 380px;
    margin: auto;
    margin-top: 100px;
  }

  .comics-list-container {
  }

  .favorite-comic {
    border: solid 10px $mainColor;
  }

  .favorites {
    padding-top: 5px;
    padding-rigth: 15px;
    width: 42px;
    height: 39px;
    position: absolute;
    right: 25px;
    top: 15px;
  }

  .favorites:hover {
    cursor: pointer;
    cursor: hand;
  }

  .heart-on {
    background-image: asset_url('/assets/heart_on.png');
    :hover {
      background-image: asset_url('/assets/heart_off.png');
    }
  }

  .heart-off {
    background-image: asset_url('/assets/heart_off.png');
    :hover {
      background-image: asset_url('/assets/heart_on.png');
    }
  }

  .previous-page a {
    position: absolute;
    left: 25px;
  }

  .next-page a {
    position: absolute;
    right: 25px;
  }

  .paging {
    a:hover, a:active {
      text-decoration: none;
      display: inline-block;
      background-color: $mainColor;
      color: #FFFFFF;
    }

    margin-top: 25px;
    margin-bottom: 25px;
  }

  .paging a {
    background-color: #FFFFFF;
    color: $mainColor;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    :hover {
      background-color: $mainColor;
      color: #FFFFFF;
    }
  }

  //Search

  #logo {
    margin: auto;
    width: 130px;
    display: block;
  }

  .center-search {
    margin: auto;
    width: 400px;
  }

  #character-label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
  }

  #character-icon {
    float: left;
    height: 24px;
    width: 24px;
  }

  #character-description {
    margin: 0;
    padding: 0;
  }

  #character-name {
    margin: auto;
  }

  .ui-autocomplete {
    z-index: 1001;
  }

  .form-control::-webkit-input-placeholder {
    font-style: italic;
  }
  .form-control:-moz-placeholder {
    font-style: italic;
  }
  .form-control::-moz-placeholder {
    font-style: italic;
  }
  .form-control:-ms-input-placeholder {
    font-style: italic;
  }
  .form-control {
    height: 37px;
  }
}
